# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Global Exclusions for all portals (Admin, Employee, Manager, HR)
**/node_modules
**/dist
**/.env
**/.env.local
**/.vercel
**/.next

node_modules/
dist/
.env
.env.local
.vercel/
.next/

Admin/node_modules
Admin/dist
Admin/.env
Admin/.env.local
Admin/.vercel

Employee/node_modules
Employee/dist
Employee/.env
Employee/.env.local
Employee/.vercel

Manager/node_modules
Manager/dist
Manager/.env
Manager/.env.local
Manager/.vercel

HR/node_modules
HR/.next
HR/dist
HR/.env
HR/.env.local
HR/.vercel
